/**
 * @author Prénom Nom courriel
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Styles conditionnels au JavaScript
 */

/****** Base commune *******/

/* Bouton du menu */
.nav__control {
    background-color: rgba(145, 0, 145, 0.2);
    border: none;
    padding: 10px;
    min-width: 40px; 
    
    &:focus{
        outline-offset: -5px;
        outline: darkmagenta auto 5px;
        outline: none;
    }

    &:hover, &:active{
        color:#fff;
        background-color: darkmagenta;
    }

    @media (min-width: 600px){
        display: none;
    }
}
/* Liste du menu */
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: none;
}

.nav__list-item {
    @media(min-width: 600px){
        display: inline-block;
    }
    
}


/* Liens du menu */
.nav__link {
    background-color: rgba(145, 0, 145, 0.2);
    display: block;
    padding: 5px 10px;
    width: 100%;

    &:link, &:visited{
        text-decoration: none;
        color: inherit;
    }
    &:hover{
        color:#fff;
        background-color: darkmagenta;
    }
    &:active{
        color:#fff;
        background-color: magenta;
    }
    &:focus{
        outline-offset: -5px;
        outline: darkmagenta auto 5px;
        @media(min-width : 600px){
            outline-offset: 0; 
        }
    }
}

/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/
.nav__link--active {
    border-left: 5px solid rgba(101, 68, 180, 1);
    @media (min-width: 600px) {
        border-left:none;
        border-bottom:5px solid rgba(101, 68, 180, 1);
    }
}


/** 
 * Styles conditionnels au JavaScript
 * L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */

 .js .nav__list {
    @media (max-width: 599px) {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }
 }

 .js .nav--closed .nav__list {
    @media (max-width: 599px) {
        max-height: 0;
        transition: max-height 0.5s;
    }
 }