@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Contenus principal et complémentaire
 *** Architecture des CSS (liste de définitions)
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import "_normalize.scss";

/* Utilitaires
   ========================================================================== */
@import "_utilitaires.scss";

/* Charte typographique
   ========================================================================== */
@import "_typo.scss";

/* Menu
   ========================================================================== */
@import "_menu.scss";

/* Grille
   ========================================================================== */
@import "_grille.scss";

/* Mise en page
   ========================================================================== */

body {
    color: var($couleurTexte);
}

header{
    padding: 1rem;
    border-bottom: 0.5rem solid var($couleurContraste);
    border-image: linear-gradient(var($couleurSecondaire), var($couleurDominante)) 27;
    
    .h1,.description,.h2, aside, h3{
        margin-top: 0;
    }

    .description, .h2{
        padding-top: 2rem;
    }

    p{
        margin-bottom: 0;
    }

    footer {
        background-color: var($couleurContraste);
    }
}


.description .h2{
    @media (min-width: 601px){
        padding-top: 0;
    }
}

.cols7de12{
    @media (min-width: 601px){
        width: 59.5%;
    }
}
/*** Contenus principal et complémentaire ***/

aside {
    padding: 0 1rem 0;
    @media (min-width: 601px){
        background-color: var($couleurContraste);
    }

    h2{
        padding: 0 1rem 0;
        margin-bottom: 0.5rem; 
        @media (min-width: 601px){
            margin-top: 0;
        }
    }

    h3{
        @media (min-width: 601px){
            margin-bottom: 0;
        }
    }
}

.description {
    padding: 0 2rem 0;
    border-left: 5rem solid var($couleurContraste);
    border-image: linear-gradient(var($couleurDominante), var($couleurSecondaire)) 27;
}

.description .h2,
aside h2 {
    color: var($couleurTitres);
}

/*** Architecture des CSS ***/
dl {
    padding: 1rem 0;
    background-color: rgba(145, 0, 145, 0.06);
}

dl,
.infos {
    border-radius: 10px;
}

.infos {
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(234, 226, 234);
    
    @media (min-width: 601px){
        padding: 1rem calc(10% + 1rem);
        box-shadow: var($boxShadow);
        width: 120%;
        margin-left: -10%;
        margin-top: 1rem;
    }

}

dt {
    font-family: NewsCycle-bold, sans-serif;
    color: var($couleurDominante);

    @media (min-width: 601px){
        border-bottom: 2px dashed #f4a147;
    }

}

dd {
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding-right: 1rem;

    ul{
        padding-left: 2rem;
        margin: 0;
    }
}

dt{
    &::before{
        background-image: url(../images/css-file-outlineicon-icons.com57592.png);
        background-size: contain;
        display: inline-block;
        content: "";
        width: 1.5em;
        height: 1.5em;
        margin: 0 0.5rem;
    }
}

strong.purple {
    color: var($couleurDominante);
    text-transform: uppercase;
}

/*** Pied de page ***/
footer {
    padding: 1px 0;
    text-align: center;
}